/* header Part */

.Header-part{
    background: #002147 ;
}

.Header-part ul {
    display: flex;
    list-style: none;
    padding: 20px;
    margin:  0;
}



.navlink {
    text-decoration: none;
    padding: 30px;
    font-size: 30px;
    color: #ac9e9e;
    font-weight: 600;
}

.icon {
    color: rgb(221, 144, 21);
    font-size: 30px;
    margin-left: 800px;
}